<!-- my info -->

<div class="d-flex justify-content-center home-section text-white">
  <h1> {{name}}</h1>
  <h4>Fullstack Developer</h4>

  <!-- button contanct me go to footer -->
  <button class="btn" id="contact" (click)="goToContact()">Contact me</button>

</div>

<div class="about-section container">
  <h1>AboutMe</h1>
  <div class="card">
    <div class="card-body ">
      <ul id ="about">
        <li>Skilled in Web applications development .</li>
        <li>A highly resourceful and competent Software Developer with excellent functional, analytical and
          technical skills.</li>
        <li>Well organized and proactive in providing timely, efficient and accurate support to business managers
          and work colleagues.</li>

        <li>Analytical thinking with problem solving abilities is my main objective as I believe in giving my best in
          any job.</li>

        <li>Have hands on experience on different evaluation projects. </li>
        <li>Problem-solving and research skills.</li>


      </ul>
    </div>
  </div>
  <a href="#" class="btn btn-secondary mt-2 mb-2"  (click)="downloadPDF()">Download CV</a>


</div>
