<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Portfolio</title>
</head>

<body>


  <div class="container my-5">
    <h1 class="text-center">Projects</h1>

    <div class="row g-4">
      <div class="col-md-3">
        <div class="card card-hover" onclick="location.href='https://e-commerce-website-mauve-six.vercel.app/';">
          <img src="../../assets/1.png" class="card-img" style="height: 70%;" alt="E-Commerce Image">
          <div class="card-overlay">
            <h5 class="card-title">E-Commerce Website</h5>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card card-hover" onclick="location.href='https://movie-app-five-roan.vercel.app/#/home';">
          <img src="../../assets/2.png " class="card-img" style="height: 80%;" alt="App Image">
          <div class="card-overlay">
            <h5 class="card-title">Movie App</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-hover"
          onclick="location.href='https://github.com/ahmedSamirSoftwareEng/Posts/tree/api-branch';">
          <img src="../../assets/4.png" class="card-img" alt="App Image">
          <div class="card-overlay">
            <h5 class="card-title">Posts-API</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-hover"
          onclick="location.href='https://github.com/ahmedSamirSoftwareEng/todolist-server-nodejs';">
          <img src="../../assets/3.png" class="card-img" alt="App Image">
          <div class="card-overlay">
            <h5 class="card-title">To-Do List</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>